@import url(./fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    --white: #FFF;
    --black: #000;
    --primary-purple: #6E728E;
    --primary-btn-text-purple: #6D72DE;
    --primary-text-purple: #4A4D60;
    --montserrat: 'Montserrat';
}

body {
    font-family: var(--montserrat);
    background: #F7F7FE;
}

.all-btn {
    color: var(--white);
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.393px;
    padding: 14px 66px;
    border-radius: 6px;
    background: linear-gradient(135deg, #A2A7F0 0%, #696EDD 100%);
    text-transform: uppercase;
    border: 1px solid var(--white);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 71px;
}

.main-title {
    color: var(--primary-purple);
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
}

.item {
    padding-top: 42px;
}

.item-desc {
    color: var(--primary-purple);
    font-size: 15px;
    font-weight: 700;
    line-height: 28px;
    opacity: 0.5;
}

.cards {
    display: flex;
    margin-top: 88px;
    padding-bottom: 104px;
}

.card {
    text-align: center;
    padding-bottom: 45px;
    background: var(--white);
}

.card:nth-child(1){
    border-radius: 10px 0px 0px 10px;
}

.card:nth-child(3){
    border-radius: 0px 10px 10px 0px;
}

.card-title {
    padding-top: 31px;
    padding-right: 150px;
    padding-left: 150px;
    padding-bottom: 24px;
    color: var(--primary-purple);
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}

.cost {
    color: var(--primary-text-purple);
    font-size: 72px;
    font-weight: 700;
    line-height: 71px;
    letter-spacing: -2.16px;
    padding-bottom: 45px;
}

.card-desc {
    color: var(--primary-purple);
    font-size: 15px;
    font-weight: 700;
    line-height: 28px;
    padding-bottom: 24px;
}

.card-desc:nth-child(5) {
    padding-bottom: 60px;
}

.card-desc::before {
    content: "";
    opacity: 0.25;
    background: #6E728E;
    width: 288px;
    height: 1px;
}

.center-card {
    border-radius: 10px;
    background: linear-gradient(135deg, #A2A7F0 -0.05%, #696EDD 100.05%);
    box-shadow: 0px 20px 40px 0px rgba(212, 210, 244, 0.50);
}

.card-center-title {
    color: var(--white);
    padding-top: 55px;
}

.card-center-cost {
    color: var(--white);
}

.card-center-desc {
    color: var(--white);
}

.card-center-btn {
    color: var(--primary-btn-text-purple);
    background: var(--white);
    transition: .5s;
}

.card-center-btn:hover {
    background: unset;
    color: var(--white);
}

.card-btn {
    transition: .5s;
}

.card-btn:hover {
    background: unset;
    color: var(--primary-btn-text-purple);
    border: 1px solid var(--primary-btn-text-purple);
}